.chip {
    $transitionPosition: 80ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
    //$transitionPosition: 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    $transitionBackground: 50ms linear;

    border: 1px solid #5c7080;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #394b59;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 5;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;

    color: #394b59;
    text-shadow: 1px 1px 1px rgba(#394b59, 0.2);

    transition: top $transitionPosition, left $transitionPosition, background-color $transitionBackground;

    &:hover {
        background-color: #e1e8ed;
    }
}
