.bar {
    font-size: 40px;
    font-weight: bold;
    color: #F5498B;
    animation: blinker 1s linear infinite;
    text-shadow: 0 0 2px #FF66A1;
    margin-bottom: 20px;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}
